%table
  %tr
    %th Habit
    %th Time
    %th Description
    %th

  - @events.each do |event|
    %tr
      %td= event.habit.name
      %td= event.time
      %td= event.description
      %td
        = link_to 'Show', event
        = link_to 'Edit', edit_event_path(event)
        = link_to 'Delete', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
