%p#notice= notice

%p
  %b Color:
  = @habit.color
%p
  %b Name:
  = @habit.name
%p
  %b Description:
  = @habit.description

= link_to 'Edit', edit_habit_path(@habit)
\|
= link_to 'Back', habits_path
